.singleDateNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size-m) auto var(--size-m) auto;
  max-width: 35rem;
}

.arrow {
  width: var(--size-s);
  height: var(--size-s);
  fill: var(--color-grey-light);
  cursor: pointer;
}

.date {
  font-size: var(--size-s);
  color: var(--color-grey-light);
  margin: 0.5rem 2rem 0 2rem;
}
