.btn {
  background-color: var(--color-primary);
  color: var(--color-dark);
  border: 3px solid var(--color-primary);
  border-radius: 5px;
  padding: 1rem 3rem;
  font-family: var(--font-body);
  font-size: var(--size-m);
  margin: var(--size-xxs);
  cursor: pointer;

  &:hover {
    background-color: var(--color-grey-dark);
    color: var(--color-primary);
  }
}

.inverted {
  background-color: var(--color-light);
  border: 3px solid var(--color-light);

  &:hover {
    color: var(--color-light);
  }
}
