.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex: 1;
}

.quote {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: var(--size-xxl);
    color: var(--color-light);
    max-width: 60rem;
    margin: 0;
    text-align: left;
  }

  span {
    font-size: var(--size-xs);
    color: var(--color-primary);
    align-self: flex-end;
  }
}
